.primary-button {
  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 8px;
  text-align: center;
  color: white;
  height: 40px;
}

.primary-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.primary-button.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  margin-top: 4px;
}

.text {
  white-space: nowrap;
}