.rsvp-container {
    margin: 1rem;
}

.rsvp-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 16px auto;
    gap: 16px;
    width: 90%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}