.tabbar-container {
    background-color: rgba(201, 160, 220, 0.8);
    backdrop-filter: blur(10px);
    height: auto;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -10px 10px -12px rgba(0, 0, 0, .5);
}

.tabbar-items {
    padding-top: 0.8rem;
    display: flex;
    justify-content: space-around;
}

.tabbar-button p {
    margin: 0;
}
