.popup-container {
    position: absolute;
    background-color: rgba(201, 160, 220, 0.8);
    padding: 1%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin: 4%;
    bottom: 0;
    width: 92%;
    transform: translateY(-100px);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
}


.popup-title h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.2rem 0;
}