html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
fieldset,
legend,
input,
textarea,
label,
select,
button,
table,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* Box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Remove default margin for list items */
ol,
ul {
  list-style: none;
}
/* Remove default margin for images */
img {
  max-width: 100%;
  height: auto;
}
/* Remove default margin for fieldsets */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.75em 0.35em 0.75em;
}
/* Remove default border and padding for legends */
legend {
  border: 0 none;
  padding: 0;
  white-space: normal;
}
/* Remove default border and padding for buttons */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
}
/* Remove default outline for buttons */
button,
input {
  outline: none;
}
/* Remove default margin for tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blue: #3490dc;
  --indigo: #6574cd;
  --purple: #ab74a9;
  --pink: #e83e8c;
  --red: #eb455f;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --wisteria: #c9a0dc;
  --gray-dark: #404040;
  --primary: #3490dc;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #eb455f;
  --light: #f8f9fa;
  --dark: #666;
  --black: #111111;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #ffffff;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Gladis';
  src: url('/fonts/Gladis.ttf');
}

@font-face {
  font-family: 'BP Black White';
  src: url('/fonts/BPBlackWhite-Regular.ttf');
}

@font-face {
  font-family: 'Meie Script';
  src: url('/fonts/MeieScript-Regular.ttf');
}

@font-face {
  font-family: 'Madjestic Comfort Serif';
  src: url('/fonts/MadjesticComfortSerif-JROrB.ttf');
}