.wishes-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.wishes-area {
    margin: 0 2rem;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wishes-area::-webkit-scrollbar { 
    display: thin;
}

.wish-items {
    margin: 1rem 0;
}