.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.contact-name-and-relation p:nth-child(1){
    font-weight: bold;
    font-size: 1.1rem;
}