.invitation-items {
    text-align: center;
    color: var(--gray-dark);
    word-spacing: 2px;
}

.bismillah img {
    width: 50%;
    margin-bottom: 1rem;
}

.greeting {
    margin-bottom: 2rem;
}

.parent-names {
    margin-bottom: 2rem;
    font-weight: 500;
}

.parent-names p {
    line-height: 1.5;
    font-size: 1.2rem;
}

.invitation-text {
    padding: 0 1rem;
}

.couple-name {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.dengan-pasangannya{
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.location,
.date,
.time {
    margin-bottom: 1rem;
}

.location-date-time {
    padding: 1rem;
    margin: 0 3rem;
    border-radius: 20px;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2),
                inset -3px -3px 5px rgba(0,0,0,0.2),
                3px 3px 5px rgba(255,255,255,0.8),
                -3px -3px 5px rgba(255,255,255,0.8);
    background-color: var(--soft-lilac);
}