.tentative-container {
    background-image: url("../../assets/images/flower-wreath-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 20px center;
    margin-top: 3rem;
    height: 350px;
}

.tentative-items {
    color: black;
    text-align: center;
    padding-top: 2rem;
    padding-left: 20px;
}

.tentative-title, .kehadiran-tetamu, .ketibaan-pengantin, .majlis-berakhir {
    margin-bottom: 1rem;
}